body {
  font-size: 100%;
}

.navbar,
.navbar-toggler {
  margin: 2%;
  padding: 0%;
}

#header {
  background-color: #fff;
  padding: 2%;
  padding-top: 8%;
  font-family: "Bree Serif", serif;
  box-sizing: border-box;
  opacity: 0.9;
}
.header-image {
  margin-top: 2%;
  width: 50%;
  height: 100%;
}

#footer {
  background-color: #a0d4f8;
  text-align: center;
  padding: 2%;
}

#appointment {
  background-color: #a0d4f8;
  padding: 5%;
}

#services {
  background-color: #defcf9;
  padding: 5%;
}

#tests {
  background-color: #defcf9;
  padding: 5%;
}

.image {
  width: 100%;
  height: 100%;
}

.nav-logo {
  width: 15%;
  height: 100%;
  margin-left: 10%;
}
:root {
  --button-colour: #009ed8;
  --button-text: #ffffff;
  --regular-text: #333;
  --button-tint: fadeout(#000, 90%);
  --background: #303036;
}

* {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 1.4em;
  padding-right: 4.7em;
  background: var(--button-colour);
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.button::before {
  background: var(--button-tint);
}
.button:hover {
  background: darken(var(--button-colour), 10%);
}
.button:active,
.button:focus {
  background: darken(var(--button-colour), 30%);
  outline: none;
}

.phone {
  background: #f500006c;
}
.phone:hover {
  background: darken(#139675, 10%);
}
.phone:active,
.phone:focus {
  background: darken(#139675, 30%);
}
.phone:after {
  content: "\F095";
}
.phone:hover:after {
  -webkit-animation: wiggle 0.05s alternate ease infinite;
  animation: wiggle 0.05s alternate ease infinite;
}

.email {
  background: #02012560;
}
.email:hover {
  background: darken(#02012560, 10%);
}
.email:active,
.email:focus {
  background: darken(#02012560, 20%);
}
.email:after {
  content: "\F0E0";
}
.email:hover:after {
  -webkit-animation: bounceright 0.05s alternate ease infinite;
  animation: bounceright 0.05s alternate ease infinite;
  text-indent: 0.1em;
}
@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}

@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

.card {
  margin: 2%;
  padding: 2%;
  text-align: center;
}

/* NAVIGATION */

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

/* fill */
nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #defcf9;
  }
}

#arrow {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 6px;
  padding: 0px 5px;
  margin: 0 5px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  animation-delay: 0.01s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
